extends ../layouts/default
	
block content
	.container-fluid.about
		.row.container-fluid
			if data
				.col-sm-12
					h1= data.heading
					h2.about__sectionHeading= data.sectionHeading1
				if data.bios && data.bios.length
					.row.container-fluid
						each bio, i in data.bios
							.col-sm-4.about__container
								if bio.upload.secure_url || bio.imageUrl
									img.about__image(src= bio.upload.secure_url || bio.imageUrl).hidden-xs
								h4.about__heading= bio.heading
								a(href= bio.link target="_blank")= bio.linkLabel
									span &nbsp;
									span.glyphicon.glyphicon-new-window(aria-hidden="true")
								p.about__body!= bio.body
								if i === 1
									.about__divider.hidden-xs
		.row.container-fluid
			if data
				.col-sm-12
					h2.about__sectionHeading= data.sectionHeading2
					.about__valuesContainer.hidden-xs
						.about__valuesColumnLeft
							h4= data.values.left.heading
							p= data.values.left.body
						.about__valuesColumnCenter
							h4= data.values.top.heading
							p= data.values.top.body
							img.about__valuesImage(src="https://res.cloudinary.com/align-work/image/upload/v1513246252/values-diagram-382x360.png")
							h4= data.values.bottom.heading
							p= data.values.bottom.body
						.about__valuesColumnRight
							h4= data.values.right.heading
							p= data.values.right.body
					.about__mobile.visible-xs
						h4= data.values.left.heading
						p= data.values.left.body
						h4= data.values.top.heading
						p= data.values.top.body
						h4= data.values.bottom.heading
						p= data.values.bottom.body
						h4= data.values.right.heading
						p= data.values.right.body
					
					
						
					
					
