extends ../layouts/default
include ../mixins/coaching-modal

block content
	+ coaching-modal
	.container-fluid.coach
		.row.container-fluid
			.col-sm-12
				if data
					h1= data.heading
					h4= data.subHeading
		if data.services && data.services.length
			each service in data.services
				.row.container-fluid
					.col-md-8.coach__container
						h4.coach__heading= service.heading
						button(type="button" data-toggle="modal" data-target="#coachingModal").btn.btn-warning.coach__button= service.button.body
						p.coach__body!= service.body
					.col-md-4
						.panel.panel-primary.coach__panel
							.panel-heading= service.panel.heading
							.panel-body
								p!= service.panel.body
				.row.container-fluid
					.col-sm-12

