extends ../layouts/default

block content
	.container-fluid.faq
		.row.container-fluid
			.col-sm-12
				if data
					h1= data.heading
					h4= data.subHeading
		if data.faqItems && data.faqItems.length
			.row.container-fluid
				.col-md-8
					.panel-group(id="accordion" role="tablist" aria-multiselectable="true")
						each faq, i in data.faqItems
							.panel.panel-default
								.panel-heading(role="tab" id="faq-heading" + i)
									h4.panel-title
										a(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse" + i aria-expanded="false" aria-controls="collapse" + i)= faq.heading
								.panel-collapse.collapse(id="collapse" + i role="tabpanel" aria-labelledby="faq-heading" + i)
									.panel-body= faq.body
