extends ../layouts/default
include ../mixins/ebook
include ../mixins/ebook-modal
include ../mixins/trial-modal
include ../mixins/trial-button

block content
	+ ebook-modal
	+ trial-modal
	//-
		.container-fluid
			#carousel-example-generic.carousel.slide(data-ride="carousel")
				ol.carousel-indicators
					if data.slides && data.slides.length
						li.active(data-target="#carousel-example-generic" data-slide-to="0")
						each slide, slide_i in data.slides
							if slide_i !== 0
								li(data-target="#carousel-example-generic" data-slide-to= slide_i)
				.carousel-inner(role="listbox")
					if data.slides && data.slides.length
						.item.active
							img(src=data.slides[0].upload.secure_url || data.slides[0].imageUrl alt=data.slides[0].heading)
							.carousel-caption
								h2.carousel-caption__heading= data.slides[0].heading
								h4.hidden-xs.carousel-caption__subheading= data.slides[0].subHeading
								a(href= data.slides[0].button.link)
									button.carousel-caption__btn.btn-lg.btn-primary(type="button")= data.slides[0].button.body
						if data.slides.length > 1
							each slide, slide_i in data.slides
								if slide_i !== 0
									.item
										img(src= slide.upload.secure_url || slide.imageUrl alt= slide.heading)
										.carousel-caption
											h2.carousel-caption__heading= slide.heading
											h4.hidden-xs.carousel-caption__subheading= slide.subHeading
											a(href= slide.button.link)
												button.carousel-caption__btn.btn-lg.btn-primary(type="button")= slide.button.body
				a.left.carousel-control(href="#carousel-example-generic" role="button" data-slide="prev")
					span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
					span.sr-only Previous
				a.right.carousel-control(href="#carousel-example-generic" role="button" data-slide="next")
					span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
					span.sr-only Next


	.container-fluid
		.splash
			.row.container-fluid
				if data.splash.imageUrl
					.col-md-6.splash__image.hidden-xs.hidden-sm(style={'background-image': 'url(' + data.splash.imageUrl + ')'})
				else if data.splash.upload.secure_url
					.col-md-6.splash__image.hidden-xs.hidden-sm(style={'background-image': 'url(' + data.splash.upload.secure_url + ')'})

				.col-sm-6
					.splash__copy
						h1.splash__heading#splash= data.splash.heading
						h4.splash__subHeading= data.splash.subHeading
						!= data.splash.body
						a(href= data.splash.button.link)
							button(type="button").btn-lg.btn-primary.splash__button= data.splash.button.body



	.container-fluid
		a(name="introduction-anchor")
		.introduction
			.row.container-fluid
				.col-sm-8.introduction__copy
					h1.introduction__heading#intro= data.intro.heading
					h4.introduction__subHeading= data.intro.subHeading
					!= data.intro.body
					if data.intro.button.link
						a(href= data.intro.button.link)
							button(type="button").btn-lg.btn-primary.introduction__button= data.intro.button.body

				if data.intro.imageUrl
					.col-md-4.introduction__image.hidden-xs.hidden-sm(style={'background-image': 'url(' + data.intro.imageUrl + ')'})
				else if data.intro.upload.secure_url
					.col-md-4.introduction__image.hidden-xs.hidden-sm(style={'background-image': 'url(' + data.intro.upload.secure_url + ')'})

	.container-fluid
		a(name="benefits-anchor")
		.benefits
			.row.container-fluid
				if data.benefits.imageUrl
					.col-md-4.benefits__image.hidden-xs.hidden-sm(style={'background-image': 'url(' + data.benefits.imageUrl + ')'})
				else if data.benefits.upload.secure_url
					.col-md-4.benefits__image.hidden-xs.hidden-sm(style={'background-image': 'url(' + data.benefits.upload.secure_url + ')'})

				.col-sm-8.benefits__copy
					h1.benefits__heading#benefits= data.benefits.heading
					h4.benefits__subHeading= data.benefits.subHeading
					!= data.benefits.body
					+ trial-button

	+ ebook

	.container-fluid
		.reference
			.row.container-fluid
				if data.reference && data.reference.length
					each ref in data.reference
						.col-md-4
							blockquote.reference__quote= ref.quote
							img.reference__logo(src= ref.upload.secure_url || ref.imageUrl)
							span.reference__title
								a.reference__link(href= ref.link target="_blank")= ref.citation
	.container-fluid
		a(name="coaching-anchor")
		.coaching
			.row.container-fluid
				.col-sm-8.coaching__copy
					h2.coaching__heading= data.coaching.heading
					h4.coaching__subheading= data.coaching.subHeading
					!= data.coaching.list
					a(href= data.coaching.button.link)
						button(type="button").btn-lg.btn-primary.coaching__button= data.coaching.button.body
				.col-sm-4
					.panel.panel-primary.coaching__panel
						.panel-heading= data.coaching.panel.heading
						.panel-body
							img.coaching__panelImage(src= data.coaching.panel.upload.secure_url || data.coaching.panel.imageUrl)
							p= data.coaching.panel.body
							a(href= data.coaching.panel.button.link)
								button(type="button").btn.btn-primary.coaching__button= data.coaching.panel.button.body
