extends ../layouts/default
include ../mixins/ebook
include ../mixins/ebook-modal

block content
	+ ebook-modal
	.container-fluid.okr
		.row.container-fluid
			.col-sm-12
				h1= data.heading
				h4= data.subHeading
	.container-fluid.introduction
		.row.container-fluid
			.col-md-8
				h2= data.benefits.heading
				h4= data.benefits.subHeading
				p!= data.benefits.body
			.col-md-4
				.panel.panel-primary.introduction__panel
					.panel-heading= data.benefits.panel.heading
					.panel-body
						.objectives
							img.introduction__panelImage(src= data.benefits.panel.objUpload.secure_url || data.benefits.panel.objImageUrl)
							p= data.benefits.panel.objBody
						.keyResults
							img.introduction__panelImage(src= data.benefits.panel.krUpload.secure_url || data.benefits.panel.krImageUrl)
							p= data.benefits.panel.krBody
	.container-fluid
		.coaching
			.row.container-fluid
				.col-sm-8.coaching__copy
					h2.coaching__heading= data.how.heading
					h4.coaching__subheading= data.how.subHeading
					!= data.how.list
				if data.how.imageUrl
					.col-sm-4.okr__implementationImage.hidden-xs(style={'background-image': 'url(' + data.how.imageUrl + ')'})
				else if data.how.upload.secure_url
					.col-sm-4.okr__implementationImage.hidden-xs(style={'background-image': 'url(' + data.how.upload.secure_url + ')'})
	+ ebook
	.container-fluid
		.coaching
			.row.container-fluid
				.col-sm-8.okr__implementationCopy
					h2.coaching__heading= data.implementation.heading
					h4.coaching__subheading= data.implementation.subHeading
					!= data.implementation.list
				if data.implementation.imageUrl
					.col-sm-4.coaching__image.visible-md(style={'background-image': 'url(' + data.implementation.imageUrl + ')'})
				else if data.implementation.upload.secure_url
					.col-sm-4.coaching__image.visible-md(style={'background-image': 'url(' + data.implementation.upload.secure_url + ')'})
		if data.furtherReading.okrResources && data.furtherReading.okrResources.length
			.row.container-fluid
				h2.coaching__heading= data.furtherReading.heading
				each resource in data.furtherReading.okrResources
					.col-sm-4.okr__container
						if resource.upload.secure_url || resource.imageUrl
							a(href= resource.link target="_blank")
								img.okr__image(src= resource.upload.secure_url || resource.imageUrl).hidden-xs
						h4.okr__heading
							a.okr__link(href= resource.link target="_blank")= resource.heading
								span &nbsp;
								span.glyphicon.glyphicon-new-window(aria-hidden="true")
						p.okr__body!= resource.body

