extends ../layouts/default

block content
	
	.container-fluid
		.row.container-fluid
			.col-sm-8
				article
					p: a(href='/insights') &larr; back to more insights
					if !data.post
						h2 Invalid Post.
					else
						header
							h1= data.post.title
							h5 Posted 
								if data.post.publishedDate
									| on #{data.post._.publishedDate.format('MMMM Do, YYYY')} 
								if data.post.categories && data.post.categories.length
									| in 
									each cat, cat_i in data.post.categories
										a(href='/insights/' + cat.key)= cat.name
										if cat_i < data.post.categories.length - 1
											| , 
										else
											|  
								if data.post.author
									| by #{data.post.author.name.first}
						.post
							img.post__image(src= data.post.upload.secure_url || data.post.imageUrl)
							.post__body!= data.post.content.full
