extends ../layouts/default
include ../mixins/trial-modal
include ../mixins/trial-button

block content

	+ trial-modal
	.container-fluid.product
		.row.container-fluid
			.col-md-8
				if data
					h1= data.heading
					h2= data.subHeading
		if data.imageUrl
			.row.container-fluid.product
				.col-md-8
					img.product__image(src= data.imageUrl)
					h4=data.imageHeading
					p.product__body
						!= data.imageParagraph


		if data.videoPosterUrl
			.row.container-fluid
				.col-md-8
					#video-example-generic.video-container.product
						video(controls poster=data.videoPosterUrl)
							source(src=data.videoMP4Url type="video/mp4")
							source(src=data.videoOGGUrl type="video/ogg")
							source(src=data.videoWEBMUrl type="video/webm")
							| this browser does not support HTML5 video tags
					h4=data.videoHeading
					p.product__body
						!= data.videoParagraph

		if data.features && data.features.length
			each feature, index in data.features
				.row.container-fluid
					if index % 2 == 0
						.col-md-8.feature__whiteContainer
							.row
								.col-sm-6
									h4.product__heading= feature.heading
									img.feature__logoImage(src= feature.upload.secure_url || feature.imageUrl )
								.col-sm-6.feature__copyContainer
									.product__body
										!= feature.body
									+ trial-button

					else
						.col-md-8.feature__grayContainer
							.row
								.col-sm-6
									h4.product__heading= feature.heading
									img.feature__logoImage(src= feature.upload.secure_url || feature.imageUrl )
								.col-sm-6.feature__copyContainer
									.product__body
										!= feature.body
									+ trial-button

				.row.container-fluid
					.col-sm-12
