mixin coaching-modal
	.coaching__modal.modal.fade(id="coachingModal" tabindex="-1" role="dialog" aria-labelledby="coachingModalLabel")
		.modal-dialog(role="document")
			.modal-content
				.modal-header
					button.close(type="button" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") &times;
					h4.modal-title(id="coachingModalLabel")
						img.coaching__modalHeadingLogo(src="/images/aw-logo-54x40.png")
						if data.modal
							span= data.modal.heading
				.modal-body
					.row.container-fluid.coaching__modalContainer
						.col-sm-12
							.coaching__modalSignup
								.coaching__form
									if data.modal
										h4= data.modal.body
									.form-group.coaching__messages
									.form-group.coaching__emailGroup
										input(type="email" value="" placeholder="Enter email address...").form-control.input-lg.coaching__email
									.form-group.coaching__firstNameGroup
										input(type="text" value="" placeholder="Enter first name...").form-control.input-lg.coaching__firstName
									.form-actions
										button(type="button").btn-lg.btn-primary.coaching__modalSignupButton= data.modal.button.body

