mixin ebook-modal
	.ebook__modal.modal.fade(id="ebookModal" tabindex="-1" role="dialog" aria-labelledby="ebookModalLabel")
		.modal-dialog(role="document")
			.modal-content
				.modal-header
					button.close(type="button" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") &times;
					h4.modal-title(id="ebookModalLabel")
						img.ebook__modalHeadingLogo(src="/images/aw-logo-54x40.png")
						span= data.ebook.modal.heading
				.modal-body
					.row.container-fluid.ebook__modalContainer
						.col-sm-4
							img.ebook__modalImage(src="/images/eBook-150x200.png")
						.col-sm-8
							.ebook__signup
								.row
									.col-sm-12
										.ebook__form
											.form-group.ebook__messages
											.form-group.ebook__emailGroup
												input(type="email" value="" placeholder="Enter email address...").form-control.input-lg.ebook__email
											.form-group.ebook__firstNameGroup
												input(type="text" value="" placeholder="Enter first name...").form-control.input-lg.ebook__firstName
											.form-actions
												button(type="button").btn-lg.btn-warning.ebook__signupButton= data.ebook.modal.button.body

