mixin ebook
	.container-fluid
		.ebook
			.row.container-fluid
				.col-sm-12.text-center
					h3.ebook__heading= data.ebook.heading
					button(type="button" data-toggle="modal" data-target="#ebookModal").btn-lg.btn-warning.ebook__button= data.ebook.button.body

