mixin trial-modal
	.trial__modal.modal.fade(id="trialModal" tabindex="-1" role="dialog" aria-labelledby="trialModalLabel")
		.modal-dialog(role="document")
			.modal-content
				.modal-header
					button.close(type="button" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") &times;
					h4.modal-title(id="trialModalLabel")
						img.trial__modalHeadingLogo(src="/images/aw-logo-54x40.png")
						span Try GoalManager for free
				.modal-body
					.row.container-fluid.trial__modalContainer
						.col-sm-4
							img.trial__modalImage(src="/images/lady-business-200x300.jpg")
						.col-sm-8
							.trial__signup
								.row
									.col-sm-12
										.trial__messagesContainer
										.trial__form
											.form-group.trial__messages
											.form-group.trial__emailGroup
												input(type="email" value="" placeholder="Enter email address...").form-control.input-lg.trial__modalEmail
											.form-group.trial__usernameGroup
												input(type="text" value="" placeholder="Enter preferred user name...").form-control.input-lg.trial__modalUsername
											.form-group.trial__teamnameGroup
												input(type="text" value="" placeholder="Enter preferred team name...").form-control.input-lg.trial__modalTeamname
											.form-actions
												button(type="button").btn-lg.btn-warning.trial__signupButton Go

