mixin trial
	.container-fluid
		.trial
			.trial__signup.container-fluid
				form.row.trial__subscribeForm
					.col-lg-4.col-sm-12
						h3.trial__heading= data.trial.heading
					.col-lg-3.col-sm4-4
						.form-group
							input(type="email", name="email", placeholder="Email").form-control.trial__email
					.col-lg-2.col-sm4-3
						.form-group
							input(type="text", name="username", placeholder="User name").form-control.trial__username
					.col-lg-2.col-sm4-3
						.form-group
							input(type="text", name="teamname", placeholder="Team name").form-control.trial__teamname
					.col-lg-1.col-sm4-2
						.form-actions
							button(type="button").btn-sm.btn-warning.trial__button= data.trial.button.body
				.row.trial__subscribeMessages
					.col-sm-12.trial__subscribeMessagesContainer
