include ../mixins/flash-messages
include ../mixins/trial

doctype html
html

	//- HTML HEADER
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="description" content= snippet || 'This page is missing a meta-description snippet, please update the CMS.')

		title= title || 'aw-website'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

		//- Customise the stylesheet for your site by editing /public/styles/site.sass
		link(href="/styles/site.css", rel="stylesheet")

		//- This file provides the default styling for the KeystoneJS Content Editor
		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

		//- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8
		//-[if lt IE 9]
			script(src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js")
			script(src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js")
		//-[endif]

		//- Include template-specific stylesheets by extending the css block
		block css

		//- Add any other template-specific HEAD tags by extending the head block
		block head

	//- HTML BODY
	body
		//- HEADER
		#header: .container-fluid

			//- Customise your site's navigation by changing the navLinks Array in ./routes/middleware.js
			//- ... or completely change this header to suit your design.

			div(role="navigation").navbar.navbar-default
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='/')
						img.navbar__logo(src="/images/aw-logo-54x40.png")
						span Align.Work
				.collapse.navbar-collapse
					ul.nav.navbar-nav.navbar-right
						each link in navLinks
							li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label
						// TODO: remove admin navigation if not required in production
						//if user
						//	if user.canAccessKeystone
						//		li: a(href='/keystone') Open Keystone
						//	li: a(href='/keystone/signout') Sign Out
						//else
						//	li: a(href='/keystone/signin') Sign In

		//- BODY
		#body

			//- NOTE:
			//- There is no .container wrapping class around body blocks to allow more flexibility in design.
			//- Remember to include it in your templates when you override the intro and content blocks!

			+trial

			//- The Intro block appears above flash messages (used for temporary information display)
			block intro

			//- Flash messages allow you to display once-off status messages to users, e.g. form
			//- validation errors, success messages, etc.
			+flash-messages(messages)

			//- The content block should contain the body of your template's content
			block content


		//- FOOTER
		.container-fluid
			.footer
				.footer__signup.container-fluid
					form

						.row.footer__subscribeForm
							.col-sm-5
								h3.footer__heading= footer.subscribe.heading
							.col-sm-3
								.form-group.footer__subscribeEmailGroup
									input(type="email", name="email", placeholder="Enter email address...").form-control.footer__subscribeEmail
							.col-sm-2
								.form-group.footer__subscribeFirstNameGroup
									input(type="text", name="firstName", placeholder="Enter first name...").form-control.footer__subscribeFirstName
							.col-sm-2
								.form-actions
									button(type="submit").btn-sm.btn-warning.footer__subscribeButton.center-block= footer.subscribe.button.body
						.row.footer__subscribeMessages
							.col-sm-12.footer__subscribeMessagesContainer
				.footer__lists.container-fluid
					.row
						.col-sm-4
							h2= footer.contact.heading
							//!= footer.contact.list
							p
								span.glyphicon.glyphicon-envelope.footer__icon
								a(href= "mailto:" + footer.contact.email)= footer.contact.email
							p
								span.glyphicon.glyphicon-earphone.footer__icon
								= footer.contact.phone
							p
								i.fa.fa-twitter.footer__icon
								a(href= footer.contact.twitterLink)= footer.contact.twitter
							p
								i.fa.fa-linkedin.footer__icon
								a(href= footer.contact.linkedinLink)= footer.contact.linkedin
								
								
						.col-sm-4
							h2= footer.recent.heading
							if recentPosts && recentPosts.length
								ul
									each post in recentPosts
										li
											a(href="/insights/post/" + post.slug)= post.title
						.col-sm-4
							h2= footer.links.heading
							ul
								each link in navLinks
									li
										a(href= link.href)= link.label
				.footer__copyright.container-fluid
					p= footer.copyright.body
					


		//- JAVASCRIPT

		//- jQuery 1.11.3 is included by default, and required by both Bootstrap
		//- and the KeystoneJS Content Editor. If you are not targeting IE8,
		//- you can upgrade to 2.1.4 (also bundled) for better performance.
		script(src='/js/jquery/jquery-2.1.4.min.js')

		//- Customise which Bootstrap javascript files are served by including
		//- them specifically here, instead of bootstrap-3.3.5.min.js
		script(src='/js/bootstrap/bootstrap-3.3.5.min.js')

		//- The KeystoneJS Content Editor provides support for ks-editable data attributes,
		//- which generate links to edit content for users who can access Keystone
		if user && user.canAccessKeystone
			script(src='/keystone/js/content/editor.js')

		//- Add scripts that are globally required by your site here.
		script(async src='https://www.googletagmanager.com/gtag/js?id=UA-108352300-1')
		script window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-108352300-1'); gtag('config', 'AW-830581813');
		script(src='https://secure.leadforensics.com/js/127540.js')
		script _linkedin_data_partner_id = "157564";
		script(src='https://cdnjs.cloudflare.com/ajax/libs/superagent/3.8.2/superagent.min.js')
		script(src='/js/script.js')
			
		noscript
			img(height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=157564&fmt=gif")
			img(src="https://secure.leadforensics.com/127540.png" style="display:none;")


		//- Include template-specific javascript files by extending the js block
		block js
