#header {
	margin-top: 30px;
}

.clickable {
  cursor: pointer;
}

.objectives {
  padding-bottom: 70px;
}

.alert-success, .alert-info {
  background-color: $gray-light;
  border: 1px solid $gray-light;
  color: white;
}

.alert-danger {
  background-color: $brand-danger;
  border: 1px solid $brand-danger;
  color: white;
}

.alert-warning {
  background-color: $brand-warning;
  border: 1px solid $brand-warning;
  color: $gray;
}

.has-error {
  border: 3px solid $brand-danger;
  border-radius: 10px;
}

.subscribeError {
  color: $brand-danger;
}

button[disabled] {
  cursor: not-allowed;
  background-color: $brand-danger !important;
  border: 1px solid $brand-danger !important;
  color: white;
}

.container-fluid {
  padding-left: 40px;
  padding-right: 40px;
  max-width: 1280px;
}

.carousel-inner {
  max-height: 650px;
  
  .item {
	max-height: 650px;
  }
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /*16:9*/
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-bottom: 30px;
}

.video-container iframe,
.video-container object,
.video-container embed,
.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer {
  margin-top: 40px;
  border-top: 3px solid $brand-danger;


  &__signup {
	background-color: $brand-primary;
	
	.row {
	  margin-top: 10px;
	}

  }

  &__heading {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5px;
    padding-left: 2px;
    padding-right:2px;
    padding-bottom: 5px;
  }

  &__subscribebutton {
    color: $text-color;
    padding-top: 8px;
    margin-bottom: 10px;


  }

  &__lists {
	ul {
	  padding-left: 20px;
	}
	padding-bottom: 20px;
  }
  
  &__copyright {
	padding: 20px 0;
	background-color: $gray-lighter;
	text-align: center;
	
	p {
	  margin: 0;
	}
  }
  
  a {
	color: $text-color;
  }
  
  &__subscribeMessages {
	margin-top: 0 !important;
  }
  
  &__subscribeMessagesContainer {
	color: white;
  }
  
  &__icon {
	padding-right: 15px;
  }
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

.carousel-caption {
  padding-bottom: 12vh;
  
  &__heading {
	margin-bottom: 3vh;
	font-size: 4rem;
  }
  
  &__subheading, &__btn {
	margin-top: 1vh;
  }
}

.navbar-default .navbar-nav > li > a {
  border-radius: 2px;
}

.navbar-brand {
  padding: 10px 15px;
  display: inline;
  
  img {
	display: inline;
  }
}

.introduction {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  background-color: $gray-lighter;
  
  &__heading {
	margin-bottom: 20px;
  }
  
  &__subHeading {
	margin-bottom: 20px;
  }

  &__copy {
    padding-right: 50px;

    ul {
      padding-left: 20px;
    }
  }

  &__image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    margin-left: 0px;
    margin-top: 20px;
  }

  &__panel {
	margin-top: 20px;
	margin-bottom: 0;
  }
  
  &__panelImage {
	padding-right: 15px;
	float: left;
  }
  
  &__button {
	margin-top: 10px;
  }
}

.benefits {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;


  &__heading {
    margin-bottom: 20px;

  }

  &__subHeading {
    margin-bottom: 20px;
  }

  &__copy {
    padding-left: 50px;

    ul {
      padding-left: 20px;
    }
  }

  &__image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__button {
    margin-top: 10px;
  }
}

.splash {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
//  text-align: left;

  &__heading {
    margin-top: 60px;
    margin-bottom: 20px;

  }

  &__subHeading {
    margin-bottom: 20px;
  }

  &__copy {
    padding-left: 50px;

    ul {
      padding-left: 20px;
    }
  }

  &__image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__button {
    margin-top: 10px;
  }
}


.creds {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: $gray-lighter;
  
  &__testimonial {
	padding-top: 20px;
	
	img {
	  width: 100%;
	}
	
	blockquote {
	  margin: 0;
	  border-left: 0;
	  padding: 0;
	  font-size: 18px;
	}
  }
  
  &__logoColumn {
	height: 100px;
	line-height: 100px;
  }
  
  &__logoImage {
	max-width: 100px;
	max-height: 60px;
  }
}

.trial {

  padding-top: 15px;
  padding-bottom: 2px;
  margin-bottom: 10px;
  color: #fff;
  border-top: 3px solid $brand-danger;
  border-bottom: 3px solid $brand-danger;
  background-color: $gray-light;

  &__heading {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5px;
    padding-left: 2px;
    padding-right:2px;
    padding-bottom: 5px;
  }

  &__button {
    color: $text-color;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
  }

  &__modal {
    margin-top: 10%;
  }

  &__modalContainer {
    padding-top: 20px;
	padding-bottom: 35px;
  }

  &__signup {
    padding-bottom: 0;
  }

  &__modalImage {
    display: block;
    margin: 15px auto 0 auto;
    width: 150px;
  }

  &__modalHeadingLogo {
    width: 30px;
    padding-right: 5px;
  }

  &__success {
    padding-top: 20px;
    color: $gray;
  }
  
  &__subscribeMessagesContainer {
	text-align: center;
  }
  
  &__messagesContainer {
	text-align: center;
  }
}

.trialButton {
  margin-top: 20px;
}


.ebook {

  padding-top: 20px;
  padding-bottom: 30px;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #fff;
  border-top: 3px solid $brand-danger;
  background-color: $gray-light;
  
  &__heading {
	margin-bottom: 20px;
  }
  
  &__button {
	color: $text-color;
	padding-left: 30px;
	padding-right: 30px;
  }
  
  &__modal {
	margin-top: 10%;
  }
  
  &__modalContainer {
	padding-top: 20px;
  }
  
  &__signup {
	padding-bottom: 40px;
  }
  
  &__modalImage {
	display: block;
	margin: 0 auto 30px auto;
	width: 140px;
	border: 1px $gray-lighter solid;
  }

  &__modalHeadingLogo {
	width: 30px;
	padding-right: 5px;
  }
  
  &__success {
	padding-top: 20px;
	color: $gray;
  }
}

.reference {
  padding-top: 20px;
  padding-bottom: 20px;
  
  &__logo {
	padding-right: 10px;
  }
  
  a {
	color: $gray-dark;
  }
}

.coaching {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $gray-lighter;
  
  &__copy {
	padding-right: 50px;
	
	ul {
	  padding-left: 20px;
	}
  }
  
  &__image {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 400px;
	margin-left: -15px;
	margin-top: -20px;
  }
  
  &__modal {
	margin-top: 10%;
  }
  
  &__modalSignup {
	padding-bottom: 40px;
  }
  
  &__modalHeadingLogo {
	width: 30px;
	padding-right: 5px;
  }
  
  .row {
	padding-right: 0;
  }
  
  &__success {
	padding-top: 20px;
	color: $gray;
  }

  &__button {
	margin-top: 10px;
	margin-bottom: 0px;
  }

  &__panel {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
  }

  &__panelImage {
    padding-right: 15px;
    float: left;
  }
}


.product {
//  margin-top: 20px;
//  padding-top: 20px;


  &__heading {
    //margin-top: 40px;

  }

  &__body {
    margin-top: 20px;
	
	ul {
	  padding-left: 15px;
	}
  }

  &__copy {
    padding-right: 50px;

    ul {
      padding-left: 20px;
    }
  }

  &__image {
    width: 100%;
  }

  .row {
    padding-right: 0;
  }

}

.post {
  &__body {
	margin-top: 20px;
  }
  
  &__image {
	max-height: 500px;
	width: 100%;
  }
}

.insight {
  &__thumbnail {
	max-height: 100px;
  }
}

.okr {
  
  &__image {
	float: left;
	padding: 10px 25px 10px 0;
  }
  
  &__container {
	margin-top: 20px;
  }
  
  &__link {
	color: $gray;
  }
  
  &__implementationImage {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height: 400px;
	margin-left: -15px;
  }
  
  &__implementationCopy {
	padding-right: 50px;
	padding-bottom: 40px;

	ul {
	  padding-left: 20px;
	}
  }
}

.about {
  
  &__sectionHeading {
	color: $gray-light;
	margin-bottom: 0;
  }

  &__image {
	float: left;
	padding: 10px 33px 10px 0;
  }

  &__container {
	margin-top: 20px;
  }
  
  &__valuesContainer {
	display: flex;
	align-items: center;
	min-height: 300px;
	text-align: center;
  }

  &__valuesColumnLeft {
	padding: 0 10px;
	flex: 1;
  }

  &__valuesColumnCenter {
	padding: 0 10px;
	flex: 1;
	text-align: center;
  }
  
  &__valuesColumnRight {
	padding: 0 10px;
	flex: 1;
  }
  
  &__valuesImage {
	width: 80%;
  }
  
  &__mobile {
	padding-top: 20px;
  }
  
  // add divider between about and values section
  &__divider {
	border-bottom: 2px solid $gray-light;
	padding-bottom: 40px;
  }
}

.coach {
  
  &__panel {
	margin-top: 10px;
  }
  
  &__button {
	margin-right: 20px;
	margin-top: 4px;
	float: left;
  }
}

.feature {

  &__grayContainer {
    background-color: $gray-lighter;
    margin-top: 30px;
    padding-bottom: 20px;
  }

  &__whiteContainer {
    margin-top: 30px;
    padding-bottom: 20px;
  }

  &__logoImage {
    max-width: 100%;
    //padding-right: 40px;
    //float: left;
//    max-height: 600%;
  }

  &__panel {
    margin-top: 20px;
  }
  
  &__copyContainer {
	padding-top: 20px;
  }
}

.video {

  &__panel {
    margin-top: 20px;
  }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {
  .carousel-caption {
	padding-bottom: 5vh;
	
	&__heading {
	  font-size: 2em;
	}
	
	&__btn {
	  margin-top: 0.5vh;
	  padding: 5px 10px;
	  font-size: 10px;
	}
	
	&__subheading {
	  font-size: 12px;
	}
  }
  
  .container-fluid {
	padding-left: 20px;
	padding-right: 20px;
  }
  
  .footer {
	&__signup {
	  .row {
		margin-top: 0;
		margin-bottom: 0;
	  }
	}
  }
}

/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
}

/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {

}

/* Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3) {

}

/* Portrait */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {

}

/* Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3) {

}

/* Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {

}

/* Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {

}

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 1) {
  .carousel-caption {
	padding-bottom: 8vh;
  }
  
  .okr {
	&__container {
	  min-height: 400px;
	}
  }

}

/* Portrait */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 2) {


}

/* Portrait */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 834px)
and (max-device-width: 1112px)
and (-webkit-min-device-pixel-ratio: 2) {
  padding-bottom: 5vh;
}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen
and (min-device-width: 834px)
and (max-device-width: 834px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen
and (min-device-width: 1112px)
and (max-device-width: 1112px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen
and (min-device-width: 1366px)
and (max-device-width: 1366px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2) {

}

