// Override Bootstrap variables in this file, e.g.

$font-size-base: 16px;

$brand-primary: #57C7BA;
$brand-danger: #FF6220;
$brand-warning: #FAC241;

$navbar-default-bg: #fff;
$navbar-default-link-hover-color: #fff;
$navbar-default-link-hover-bg: $brand-primary;
$navbar-default-link-active-bg: $brand-primary;
$navbar-default-link-active-color: #fff;
$navbar-default-border:  none;




